<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value ="Chrome"/>
    <add key="baseUrl" value ="https://rahulshettyacademy.com/loginpagePractise/"/>
    <add key="testdata.json" value ="D:\\Projects\\Udemy-Selenium-WebDriver-with-CSharp-from-Scratch---Nunit-Framework\\UdemySeleniumFrameworkWithCSharp\\UdemySeleniumFrameworkWithCSharp\\utilities\\TestData.json"/>
    <add key="LoginPageTestInfo.json" value="D:\Projects\Udemy-Selenium-WebDriver-with-CSharp-from-Scratch---Nunit-Framework\UdemySeleniumFrameworkWithCSharp\UdemySeleniumFrameworkWithCSharp\utilities\LoginPageTestInfo.json"/>
  </appSettings>
</configuration>