<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value ="Chrome"/>
    <add key="baseUrl" value ="https://rahulshettyacademy.com/loginpagePractise/"/>
    <add key="userName" value="rahulshettyacademy"/>
    <add key="password" value="learning"/>

  </appSettings>
</configuration>